/* Font style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
/* shared styles -----------------------*/
main{
  max-width: 1440px;
  margin: 0 auto;
}
.display-flex{
  display: flex;
}
.orng-btn{
    font-size:1.25rem;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 25px;
    color: white;
    background: rgb(255, 144, 14);
    border: none;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 50px;
}
.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}

/* _______________________________1ST PART_____________________________________ */
/* header style----------------------- */
header{
  background-color: rgba(255, 144, 14, 0.1); ;
}
/* nav style------------------------ */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand-name{
  font-size: 3rem;
  font-weight: 700;
}
.navbar ul li{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
  color: #424242;
}
.navbar,.banner{
  max-width: 1440px;
  margin: 0 auto;
  /* border: 2px solid black; */
}
/* banner style--------------------- */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  /* border: 2px solid red; */
}
.banner .banner-title{ 
  font-size: 4rem;
  font-weight: 700;
}
.banner .banner-description{
  font-size: 1rem;
  font-weight: 400;
}
.banner .banner-pic{
  margin-bottom: 25px;
  width: 100%;
}
/* ------------------Responsive header---------------  */
/* For small device */
@media screen and (max-width:576px){
  .navbar{
    flex-direction: column;
  }
}

/* _________________________________2ND PART____________________________________ */
/* teams style-------------------- */
.teams{
  margin-top: 85px;
  align-items: center;
}
.teams-img{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 24px;
}
.our-features{
  margin-left: 73px;
  max-width: 530px;
}
.our-features .section-title #part-1{
  font-weight: 500;
  color: rgb(114, 114, 114);
}
.our-features .section-title #part-3{
  color: rgb(255, 144, 14);
}
.features-description{
  color: rgb(114, 114, 114);
  margin-top: 20px;
  margin-bottom:20px;
}
/* ------------------Responsive teams-------------------- */
/* For Small device */
@media screen and (max-width:576px) {
  .teams{
    flex-direction: column;
  }
  .teams-img{
    grid-template-columns: repeat(1,1fr);
  }
  .our-features{
    margin-left: 20px;
  } 
}
/* For medium device */
@media screen and (min-width:577px) and (max-width:992px) {
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin:50px auto ;
  }
}

/* ___________________________________3RD PART_______________________________ */
/*Features style------------------  */
.features{
  display: flex;
  margin-top: 130px;
  gap: 140px;
}
#features-title{
  border-left: 5px solid rgb(255, 144, 14);
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.features-description{
  color: rgb(114, 114, 114);
  font-size: 16px;
  font-weight: 400;
}
.features-card{
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}
.card-title{
  color: rgb(19, 19, 19);
  font-size:1.25rem;
  font-weight: 600;
}
.card-description{
  color: rgb(114, 114, 114);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-top: 5px;
}
#experience-badge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: -100px;
  margin-left: -100px;
}
#experience-year{
  font-size: 4rem;
  font-weight: 700;
}
/*/* ------------------Responsive features-------------------- */
/* For small device */
@media screen and (max-width:576px) {
  .features{
    flex-direction: column;
  }
  .features-architect img {
    width: 100%;
  }
  #experience-badge{
    margin-top: 20px;
    margin-left: 20px;
  }
}
@media screen and (min-width:577px) and (max-width:992px){
  .features{
    flex-direction: column;
  }
  .features-architect img {
    width: 100%;
  }
  #experience-badge{
    margin-top: 20px;
    margin-left: 20px;
  }
}

/* ____________________________________4TH PART_____________________________________ */
/* Some facts styles---------------- */
.facts-description{
  margin-bottom:80px;
  max-width: 540px;
  color: rgb(114, 114, 114);
  font-weight: 400;
  font-size: 16px;
}
.some-facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card{
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
  color: rgb(114, 114, 114);
}
/* --------------------Responsive Facts------------------------- */
/* For small device */
@media screen and (max-width:576px) {
  .some-facts-container{
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 24px;
  }
}
/* For medium device */
@media screen  and (min-width:577px) and (max-width:992px){
  .some-facts-container{
    grid-template-columns: repeat(2, 1fr);
    gap:50px;
    justify-items: center;
  }
}

/*___________________________________5TH PART_____________________________________ */
/* our sponsors style----------------------- */
.our-sponsors{
  margin-top:180px ;
  margin-bottom:130px ;
}
.sponsors-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsors-description{
  color: rgb(114, 114, 114);
  font-size: 16px;
  font-weight: 400;
}
.sponsors-companies{
  display: grid;
  grid-template-columns: repeat(5 ,1fr);
}
.sponsors-companies img{
  filter: grayscale(100%);
  border: 1px dashed gray;
}
/* --------------Responsive sponsors--------------- */
/* For small device */
@media screen and (max-width:576px)  {
  .sponsors-companies{
    grid-template-columns: 1fr;
    gap: 50px;
    justify-items: center;
  }
}
/* For medium device */
@media screen and (min-width:577px) and (max-width:992px) {
  .sponsors-companies{
    grid-template-columns: repeat(2, 1fr);
    gap:50px;
    justify-items: center;
  } 
}

/* __________________________________6TH PART______________________________ */
/* Footer style */
.footer{
  border-radius: 8px;
  background: rgb(255, 244, 231);
}
.footer-description{
  color: rgb(66, 66, 66);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding: 39px 410px;
  
}
/* -----------------------Responsive footer---------------------------- */
/* For small device */
@media screen and (max-width:576px) {
  .footer-description{
    padding: 10px;
  } 
}
/* For medium device */
@media screen and (min-width:577px) and (max-width:992px){
  .footer-description{
    padding: 20px;
  } 
}
